body{
    background-color: lightblue;
}
.tierra{
    width: 261px;
    height: 250px;
    --border: 1px solid red;
    margin: 100px;
    background-color: rgb(63, 63, 168);
    background-image: url(continentes3.png);
    border-radius: 50%;
    animation: rotacion 5s linear infinite;
    /*box-shadow: 0px 5px 15px #888;*/
    box-shadow: 0px 5px 15px rgb(245, 245, 242),inset -40px -10px 20px rgba(239, 244, 248, 0.7);
}

@keyframes rotacion {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -512px 0px;
    }
    
}